*{
    box-sizing: border-box;
}
body{
    background: url(assets/bgscreenshot.png) no-repeat center fixed;
    background-size: cover;
}
.holen, .score, .totalscore{
    background: rgba(31, 29, 29, 0.5);
    color: white;
    font-weight: bolder;
    font-size: larger;
    
}

.weather, .forecast, .compass, .wind{
    background: rgba(31, 29, 29, 0.5);
    color: white;
    font-size: larger;
    
}

#temp{
    font-size: 2.5em;
    font-weight: lighter;
}

#deg{
    font-size: 1.5em;
    font-weight: lighter;
}
nav{
    background: rgba(31, 29, 29, 0.5);
    
}
footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    
}